@model AgendaContatosMVC.Models.ViewModel.ContactFormViewModel

@{
    ViewData["Title"] = "Criar novo Endereço";
}

<h2>@ViewData["Title"]</h2>


<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Endereco.Enderecos" class="control-label"></label>
                <input asp-for="Endereco.Enderecos" class="form-control" />
                <span asp-validation-for="Endereco.Enderecos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.ContactId" class="control-label"></label>
                <input asp-for="Endereco.ContactId" class="form-control" />
                <span asp-validation-for="Endereco.ContactId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.ContactId" class="control-label"></label>
                <select asp-for="Endereco.ContactId" asp-items="@(new SelectList(Model.Contacts,"Id","Name"))" class="form-control"></select>
                <span asp-validation-for="Endereco.ContactId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Novo" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}