@{
    ViewData["Title"] = "Descrições";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Agenda Client foi criado com intuito de gerenciar e controlar a carteira de clientes, tem como foco atender empresas de pequeno a grande porte. </p>
<p>Desenvolvedor @ViewData["Developer"]</p>
<p>Codigo Aberto: <a href="https://github.com/Cotonas/AgendaContatosMVC.git">https://github.com/Cotonas/AgendaContatosMVC.git</a></p>