@{
    ViewData["Title"] = "Suporte";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Praça C-113 Q 344 L 3/2 Edifício Joana Morais, sala 1905 Bairro Jardim Ámerica, Goiânia-GO<br />
    Telefone para Contato: (62) 9 8330-2803<br/>
</address>

<address>
    <strong>Support:</strong> <a href="ludovicoguilherme93@gmail.com">ludovicoguilherme93@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="ludovicoguilherme93Marketing@gmail.com">ludovicoguilherme93Marketing@gmail.com</a>
</address>
