@{
    ViewData["Title"] = "Suporte";
}
<h2>@ViewData["Message"]</h2>

<address>
    Praça C-113 Q 344 L 3/2 Edifício Joana Morais, sala 1905 Bairro Jardim Ámerica, Goiânia-GO<br />
    Telefone para Contato: (62) 9 8330-2803<br/>
</address>

<address>
    <strong>Email: ludovicoguilherme93@gmail.com</strong>
</address>
